@use '../styles/colors' as color;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', Helvetica, sans-serif;
}
a {
  color: color.$info-inactive;
  &:hover, &:focus {
    color: color.$info-active;
  }
}
h1, h2 {
  font-weight: 400;
}
