@use '../../styles/colors' as color;

.home-view {
  grid-template-columns: 100%;
  margin-right: -14px;
  .home-view__feed {
    border-top-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(12, 8.333333333%);
    min-height: 100vh;
    overflow: hidden;
    padding-top: 3rem;
    > div {
      background-color: white;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      grid-column: 6 / 11;
      margin-left: 1rem;
      overflow: hidden;
      .feed-item {
        border-bottom: 1px solid color.$black-80;
        padding: 1rem 3rem;
        .feed-item__section-a {
          display: block;
          .name {
            font-size: (20rem / 16);
            line-height: 2rem;
            margin-right: .25rem;
            a {
              color: color.$black-40;
              text-decoration: none;
              &:hover {
                color: black;
              }
            }
          }
          .from {
            color: color.$black-60;
            line-height: 2rem;
            width: 100%;
          }
        }
        .feed-item__section-b {
          .stars {
            align-content: center;
            color: color.$warning;
            grid-template-columns: repeat(5, 1.25rem);
            height: 1.25rem;
          }
        }
        .feed-item__section-c {
          grid-template-columns: auto 4rem;
          .description {
            line-height: 2rem;
            margin: .5rem 0 .25rem;
          }
          svg {
            align-self: end;
            cursor: pointer;
            height: 1.5rem;
            justify-self: end;
            width: 1.5rem;
            &.in-favorites {
              color: color.$danger;
            }
            &.not-in-favorites {
              color: color.$black-70;
            }
            &:hover {
              color: color.$black-50;
            }
          }
        }
      }
    }
  }
  .home-view__feed-awaiting {
    grid-column: 6 / 11;
    height: 80vh;
    justify-items: center;
  }
  .home-view__end-of-feed {
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(12, 8.333333333%);
    height: 12rem;
    justify-items: center;
    justify-items: stretch;
    .home-view__feed-appending {
      align-items: center;
      background-color: white;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      grid-column: 6 / 11;
      justify-items: center;
      margin-bottom: 2rem;
    }
  }
}
.sidebar {
  left: 0;
  padding-top: 7rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 400;
  > div {
    background-color: color.$black-20;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    grid-column: 3 / 6;
    overflow: hidden;
    overflow: hidden;
    .sidebar__item {
      background-color: white;
      border-bottom: 1px solid color.$black-80;
      padding: 2rem 1.5rem;
      pointer-events: all;
      z-index: 401;
      &.no-session {
        grid-template-rows: 2rem auto;
        text-align: center;
        h3 {
          color: color.$black-40;
          line-height: 2rem;
        }
        p {
          line-height: 1.5rem;
        }
      }
      &.session {
        border-top: 4px solid color.$info;
        grid-template-rows: 2rem auto;
        margin-top: 5rem;
        padding-top: 5.5rem;
        position: relative;
        text-align: center;
        img {
          -ms-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          border-radius: 50%;
          border: 4px solid white;
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
          display: block;
          height: 8rem;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          width: 8rem;
        }
      }
      &.sort-and-filter {
        grid-template-columns: 100%;
        h3 {
          height: 2rem;
          line-height: 2rem;
          margin-right: 0.5rem;
          text-align: right;
        }
        div {
          align-items: center;
          background: none;
          color: color.$black-30;
          cursor: pointer;
          font-size: 1rem;
          grid-template-columns: 2rem auto;
          height: 2rem;
          margin-left: 5rem;
          text-align: left;
          &:hover {
            color: black;
          }
          &.active {
            color: color.$info;
          }
          span {
            height: 2rem;
            line-height: 2rem;
          }
          svg {
            height: 1.25rem;
            margin-top: 0.15rem;
            width: 1.25rem;
          }
        }
      }
    }
  }
}
