.navbar {
  background-color: #333333;
  color: #cccccc;
  height: 4rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 400;
}
.navbar .navbar__section-a {
  display: grid;
  grid-column: span 12;
  grid-template-columns: 3rem auto;
  height: 4rem;
  opacity: 0.9;
  padding: 0.5rem 0;
  text-decoration: none;
}
.navbar .navbar__section-a:hover {
  opacity: 1;
}
.navbar .navbar__section-a img {
  border-radius: 0.25rem;
  display: block;
  height: 3rem;
  width: 3rem;
}
.navbar .navbar__section-a .brand-a {
  color: white;
  font-family: "Bebas Neue";
  font-size: 2rem;
  grid-column: 2/3;
  grid-row: 1/2;
  height: 2.8rem;
  line-height: 3rem;
  padding: 0.2rem 0 0 0.5rem;
}
.navbar .navbar__section-a .brand-a:hover, .navbar .navbar__section-a .brand-a:focus {
  text-shadow: 0 3px 1px black;
}
.navbar .navbar__section-b,
.navbar .navbar__section-c {
  display: none;
  height: 4rem;
  padding: 0.5rem 0;
}
.navbar .navbar__section-b input[type=text] {
  display: block;
  height: 3rem;
  opacity: 0.9;
  max-width: 24rem;
  min-width: 4rem;
}
.navbar .navbar__section-b input[type=text]::placeholder {
  font-size: 1rem;
}
.navbar .navbar__section-b input[type=text]:hover, .navbar .navbar__section-b input[type=text]:focus {
  opacity: 1;
}
.navbar .navbar__section-c {
  position: relative;
}
.navbar .navbar__section-c .navbar__user-menu {
  background-color: white;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  display: grid;
  padding: 0.75rem 1rem 1rem;
  position: absolute;
  right: 0;
  top: 4rem;
  width: 14rem;
}
.navbar .navbar__section-c .navbar__user-menu a {
  text-decoration: none;
  margin-top: 2px;
}
.navbar .navbar__section-c .navbar__user-menu a li {
  line-height: 2rem;
  height: 2rem;
}
.navbar .navbar__section-c .navbar__session {
  display: grid;
  height: 3rem;
  grid-template: 1.5rem auto/auto 3rem 2rem;
  text-decoration: none;
}
.navbar .navbar__section-c .navbar__session:hover, .navbar .navbar__section-c .navbar__session:focus {
  color: white;
}
.navbar .navbar__section-c .navbar__session:hover .navbar__email,
.navbar .navbar__section-c .navbar__session:hover .navbar__username,
.navbar .navbar__section-c .navbar__session:hover svg, .navbar .navbar__section-c .navbar__session:focus .navbar__email,
.navbar .navbar__section-c .navbar__session:focus .navbar__username,
.navbar .navbar__section-c .navbar__session:focus svg {
  color: white;
}
.navbar .navbar__section-c .navbar__session img {
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  display: block;
  grid-column: 2/3;
  grid-row: 1/3;
  height: 3rem;
  width: 3rem;
}
.navbar .navbar__section-c .navbar__session .navbar__username {
  color: #b3b3b3;
  font-size: 1.125rem;
  grid-column: 1/2;
  grid-row: 1/2;
  line-height: 1.15rem;
  margin-right: 0.5rem;
  padding-top: 0.35rem;
  text-align: right;
}
.navbar .navbar__section-c .navbar__session .navbar__email {
  color: #999999;
  font-size: 0.875rem;
  font-weight: 600;
  grid-column: 1/2;
  grid-row: 2/3;
  line-height: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: right;
}
.navbar .navbar__section-c .navbar__session .navbar__profile-options-caret {
  align-items: center;
  color: #b3b3b3;
  cursor: pointer;
  grid-column: 3/4;
  grid-row: 1/3;
  height: 3rem;
  justify-items: center;
  width: 2rem;
}
.navbar .navbar__section-c .navbar__no-session {
  display: block;
  grid-template-columns: 50% 50%;
  height: 3rem;
  justify-items: right;
}
.navbar .navbar__section-c .navbar__no-session .navbar__auth-link {
  border-color: #b3b3b3;
  border-radius: 0.25rem;
  border: 2px solid;
  color: #b3b3b3;
  float: right;
  font-size: 1.125rem;
  height: 3rem;
  line-height: 2.75rem;
  margin-left: 0.5rem;
  padding: 0 1rem;
  text-align: center;
}
.navbar .navbar__section-c .navbar__no-session .navbar__auth-link:hover {
  border-color: white;
  color: white;
}

@media screen and (min-width: 40rem) {
  .navbar .navbar__section-a {
    grid-column: span 4;
  }

  .navbar .navbar__section-b {
    display: grid;
    grid-column: span 4;
  }

  .navbar .navbar__section-c {
    display: grid;
    grid-column: span 4;
  }
  .navbar .navbar__section-c .navbar__username,
.navbar .navbar__section-c .navbar__email {
    display: none;
  }
}
@media screen and (min-width: 56rem) {
  .navbar .navbar__section-a {
    grid-column: span 3;
  }

  .navbar .navbar__section-b {
    grid-column: span 4;
  }

  .navbar .navbar__section-c {
    grid-column: span 5;
  }
  .navbar .navbar__section-c .navbar__username,
.navbar .navbar__section-c .navbar__email {
    display: inline;
  }
}
@media screen and (min-width: 92rem) {
  .navbar .navbar__section-a {
    grid-column: span 2;
  }

  .navbar .navbar__section-b {
    grid-column: span 7;
  }

  .navbar .navbar__section-c {
    grid-column: span 3;
  }
}

/*# sourceMappingURL=styles.css.map */
