@use '../../styles/colors' as color;

.app-messages-wrapper {
  display: block;
  height: 2rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 4.5rem;
  z-index: 350;
}
.app-messages {
  height: 2rem;
  display: block;
  text-align: center;
  z-index: 401;
}
.app-messages__message {
  $transition-speed: .1s;
  $transition-speed: .2s;
  -moz-transition: opacity $transition-speed;
  -o-transition: opacity $transition-speed;
  -webkit-transition: opacity $transition-speed;
  border-radius: .25rem;
  padding: 0 1rem;
  display: inline-block;
  min-width: 20rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  transition: opacity $transition-speed;
  &.show {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;
  }
  &.info {
    background-color: color.$info;
    color: white;
  }
  &.success {
    background-color: color.$success;
    color: white;
  }
  &.warning {
    background-color: color.$warning;
    color: white;
  }
  &.danger {
    background-color: color.$danger;
    color: white;
  }
}